/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* header */
/* banner  */
header {
    background-color: rgb(16, 16, 16);
    color: white;
    margin-top: 50px;
    border-radius: 40px;
    padding: 20px 80px 0 80px;
}

.container {
    width: 1300px;
    margin-top: 150px;
}


/* banner content  */
.banner {
    display: flex;

    /* banner content end  */

}

.banner-content {
    width: 50%;

}

.banner-text-h {
    font-size: 70px;
}

.banner-text-p {
    font-size: 18px;
    color: rgb(195, 198, 198);
}

.live-link {
    text-decoration: none;
    background-color: red;
    padding: 20px 30px;
    border-radius: 10px;
    line-height: 100px;
    color: aliceblue;
    font-size: 20px;
}

/* banner image  */
.banner-content img {
    width: 100%;
}

/* end header  */
/* wesite content  */
/* page menu  */
.page-menu-b {
    background-color: black;
    width: 300px;
    height: 340px;
    border-radius: 10px;
    margin-right: 20px;
}

.page-menu {
    padding: 1px;
}

.menu {
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    font-size: 20px;
    background-color: aliceblue;
    color: black;
}

.select-menu {
    background-color: red;
    color: white;
}

.page-menu a {
    display: block;
    text-decoration: none;
    text-align: center;
}

/* page menu end  */
/* news  */
.website-article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.news {
    box-shadow: 0px 10px 10px 0px lavender;
    border-radius: 10px;
}

.image-content {
    margin: 20px;
    font-size: 18px;
    padding-bottom: 20px;

}

article a {
    text-decoration: none;
    border: 2px solid rgb(62, 59, 59);
    padding: 5px 15px;
    color: rgb(61, 60, 60);
    border-radius: 5px;
}

.time-comment {
    display: flex;
    gap: 60px;
    color: rgb(95, 93, 93);
}

.footer {
    height: 600px;
    background-color: rgb(15, 15, 15);
    color: white;
}